@model CollegePortal.Entities.Models.Student

<h2>Login</h2>

<form asp-action="Login" method="post">
    <div>
        <label asp-for="name"></label>
        <input asp-for="name" />
        <span asp-validation-for="name" style="color: red"></span>
    </div>
    <div>
        <label asp-for="password"></label>
        <input asp-for="password" type="password" />
        <span asp-validation-for="password" style="color: red"></span>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
